body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 30px;
    width: 90%;
    max-width: 450px;text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.input{
    height: 55px;
    width: 300px;
    background-color: rgba(255, 255, 255, .6);
    border-color: rgba(255, 255, 255, .3);
    font-size: 18px;
    padding: 0 29px;
    border-radius: 10px;
}
.meaning-container{
    display: none;
}